<html data-namespace-typo3-fluid="true"
      data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers">

<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages />
    <f:if condition="{news}">
        <div class="{settings.sliderType}-{contentObjectData.uid} royalSlider heroSlider rsMinW" id="{settings.sliderType}-{contentObjectData.uid}">
            <f:for each="{news}" as="newsItem">
                <n:excludeDisplayedNews newsItem="{newsItem}"/>
                <f:render partial="RoyalSlider/Items" arguments="{_all}" />
            </f:for>
        </div>
    </f:if>
</f:section>
</html>