<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
        <f:if condition="{settings.nivoslider.imageLink}">
            <f:then>
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <f:render section="media" arguments="{_all}" />
                </n:link>
            </f:then>
            <f:else>
                <f:render section="media" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:alias>

<f:section name="media">
    <f:if condition="{settings.lazyLoad}">
        <f:then>
            <f:if condition="{mediaElement}">
                <f:then>
                    <f:image image="{mediaElement}"
                         title="{newsItem.title}"
                         class="lazyOwl"
                         alt="{mediaElement.alternative}"
                         maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}"
                         maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}"
                         additionalAttributes="{
                            data-thumb:mediaElement.originalResource.publicUrl,
                            data-src:mediaElement.originalResource.publicUrl}" />
                </f:then>
                <f:else>
                    <f:image src="{f:if(condition: settings.list.media.dummyImage, then: settings.list.media.dummyImage, else: 'EXT:ns_news_slider/Resources/Public/Img/no-image.jpg')}" title="#caption-{newsItem.uid}" alt=""
                         maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                         maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{mediaElement}">
                <f:then>
                    <f:image image="{mediaElement}"
                         title="{newsItem.title}"
                         alt="{mediaElement.alternative}"
                         maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}"
                         maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}" />
                </f:then>
                <f:else>
                    <f:image src="{f:if(condition: settings.list.media.dummyImage, then: settings.list.media.dummyImage, else: 'EXT:ns_news_slider/Resources/Public/Img/no-image.jpg')}" title="#caption-{newsItem.uid}" alt=""
                         maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                         maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>
</html>